html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $bigStone;
    background: $white;
    font-family: 'Poppins', sans-serif;

    @media (min-width: $tablet) {
        border: 16px solid $bigStone;
    }
}