.skills {

    &__container {
        width: 100%;
        max-width: 1440px;
        margin-bottom: 5rem;
        padding: 0 0.625rem 0 1rem;

        @media(min-width: 1440px) {
            margin: 0 auto 11.19rem auto;
            padding: 0 10.25rem 0 5.563rem;
        }
    }

    &__title {
        margin: 0 0.375rem 3.875rem 0;
        padding-bottom: 0.75rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        border-bottom: 2px solid #CBD2D9;

        @media(min-width: 1440px) {
            margin: 0 0.1875rem 8rem 0;
            padding-bottom: 1rem;
            font-size: 2.25rem;
            line-height: 3rem;
            text-align: left;
        }
    }

    &__group {
        @media (min-width: 1440px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 8rem;
        }
    }

    &__subtitle {
        margin: 0 0 0.5rem 0;
        font-style: normal;
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 2rem;

        @media(min-width: 1440px) {
            font-size: 2rem;
            line-height: 2.75rem;
        }

        &::before {
            content: "";
            display: block;
            width: 40px;
            height: 4px;
            margin-bottom: 1.5rem;
            background: #06C847;
            border-radius: 8px;
            transform: matrix(1, 0, 0, -1, 0, 0);

            @media (min-width: 1440px) {
                width: 80px
            }
        }

        &--decoline-violet {
            &::before {
                background: #653CAD;
            }
        }

        &--decoline-blue {
            &::before {
                background: #2251CC;
            }
        }
    }

    &__list {
        margin: 0 4.625rem 3rem 0;
        padding: 0;
        list-style: none;

        @media (min-width: 1440px) {
            column-count: 2;
            margin: 1.75rem 0.1875rem 0 0;
        }
    }

    &__item {
        position: relative;
        top: 0;
        left: 0;
        padding-left: 1.5rem;
        color: #52606D;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 2.25rem;

        @media(min-width: 1440px) {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 1.875rem;
            font-size: 1.125rem;
            line-height: 2.5rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0.75rem;
            left: 0;
            width: 0.75rem;
            height: 0.75rem;
            margin-right: 0.75rem;
            background-image: url(../assets/img/check-circle.svg);
            background-size: cover;

            @media (min-width: 1440px) {
                position: absolute;
                top: 0.625rem;
                left: 0;
                width: 1.125rem;
                height: 1.125rem;
            }
        }

        &--icon-violet {
            &::before {
                background-image: url(../assets/img/check-circle-violet.svg);
            }
        }

        &--icon-blue {
            &::before {
                background-image: url(../assets/img/check-circle-blue.svg);
            }
        }
    }
}