$violet: #653CAD;
$ghost: #CBD2D9;
$white: #ffffff;
$bigStone: #171F3F;
$dodgerBlue: #0593FB;
$shuttleGray: #52606D;
$green: #06C847;
$blue: #2251CC;
$solitude: #F5F7FA;


$tablet: 768px;
$desktop: 1440px;